<!-- <app-style-binding></app-style-binding> -->
<!-- <app-two-way></app-two-way> -->

<!-- <app-ifswitch></app-ifswitch> -->

<!-- <app-attribute-directives></app-attribute-directives> -->
<!-- <app-my-directive></app-my-directive> -->
<!-- <app-parent></app-parent> -->
<!-- <app-class-binding></app-class-binding> -->
 <app-bikes></app-bikes> 
 <app-bike-details></app-bike-details>
<!-- <app-car></app-car> -->
<!-- <app-receipes></app-receipes> -->
<!-- <app-mobiles></app-mobiles> -->
<!-- <app-news></app-news> -->
<!-- <app-header></app-header> -->
 <!--<app-header></app-header> -->
<!--<router-outlet></router-outlet> -->
